aenum==3.1.15
aiodns==3.2.0
async_timeout==4.0.3
Brotli==1.0.9
brotlicffi==1.1.0.0
checks==0.2
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==42.0.5
cx_Oracle==8.3.0
Cython==3.0.11
datasets==3.1.0
defusedxml==0.7.1
dl==0.1.0
docutils==0.18.1
docutils==0.18.1
email_validator==2.2.0
eval_type_backport==0.2.0
filelock==3.16.1
grandalf==0.8
gunicorn==23.0.0
h2==4.1.0
hexbytes==1.2.0
HTMLParser==0.0.2
hypothesis==6.116.0
ipython==8.12.3
ipywidgets==7.8.1
Jinja2==3.1.4
jnius==1.1.0
js==1.0
jsonschema==4.23.0
keyring==24.3.1
langchain_anthropic==0.2.4
langchain_astradb==0.5.2
langchain_aws==0.2.6
langchain_chroma==0.1.4
langchain_cohere==0.3.1
langchain_community==0.3.5
langchain_elasticsearch==0.3.0
langchain_experimental==0.3.3
langchain_fireworks==0.2.5
langchain_google_genai==2.0.4
langchain_google_vertexai==2.0.7
langchain_groq==0.2.1
langchain_huggingface==0.1.2
langchain_mistralai==0.2.1
langchain_mongodb==0.2.0
langchain_ollama==0.2.0
langchain_openai==0.2.6
langchain_pinecone==0.2.0
langchain_postgres==0.0.12
langchain_together==0.2.0
langchainhub==0.1.21
lark==1.2.2
lxml==5.2.1
matplotlib==3.8.4
mtrand==0.1
numexpr==2.8.7
objgraph==3.6.2
openapi_pydantic==0.5.0
pickle5==0.0.12
Pillow==11.0.0
protobuf==3.20.3
psutil==5.9.0
pygraphviz==1.14
PyInstaller==6.11.0
pyodide==0.0.2
pyOpenSSL==24.0.0
pyOpenSSL==24.2.1
pyppeteer==2.0.0
pysqlcipher3==1.2.0
pytest==7.4.4
python-dotenv==1.0.1
pytz==2024.1
railroad==0.5.0
rapidfuzz==3.10.1
simplejson==3.19.3
simsimd==6.0.1
sniffio==1.3.0
Sphinx==8.1.3
sqlcipher3==0.5.4
thread==2.0.5
threadpoolctl==3.5.0
tiktoken==0.8.0
tornado==6.4.1
tqdm==4.66.4
trio==0.27.0
trove_classifiers==2024.10.21.16
urllib3_secure_extra==0.1.0
uvloop==0.21.0
xmlrpclib==1.0.1
zstandard==0.22.0
